#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Navbar {
  display: flex;
  justify-content: space-around;
  
}



.FlexCard1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: rgba(255, 0, 0, 0.784);
  border: 1px solid #341717;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}





.FlexCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: #0f9600;
  border: 1px solid #341717;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.Font{
  display: flex;

}

h1 { 
  position: relative;
  
margin: 10px auto;
text-align: center;
color: green;


}

img {display: flex;
flex-wrap: wrap;
justify-content: space-between;
height: 8rem;
width: 14em;
margin: 2rem;

}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 2rem;
}